<div class="container">
    <h4 align="center" class="display-4">Zdravstveni sistem</h4>
    <button class="btn btn-primary" [routerLink]="['/signup']">Registracija</button>
    <button class="btn btn-primary" [routerLink]="['/login']">Prijava</button>
    <button class="btn btn-primary" [routerLink]="['/izborLekara']">Izaberi lekara</button>
    <button class="btn btn-primary" [routerLink]="['/kreirajRecept']">Kreiraj recept</button>
    <button class="btn btn-primary" [routerLink]="['/zakazivanje']">Zakazi termin</button>
</div>